<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos/estilos.css">
    <title>Patas Sueltas</title>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-md text-center menu">
        <div class="container">
          <a class=" navbar-brand" href="../index.html">
              <img class="logotipo " src="../img/logo-patas-sueltas.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown">
            <ul class="navbar-nav mx-3">
              <li class="nav-item  mx-3">
                <a class="link nav-link p-3" aria-current="page" href="../index.html"  >Inicio</a>
              </li>
              <li class="nav-item  mx-3 ">
                <a class="link nav-link p-3" href="galeria.html" style="color: black;">Nuestros peludos</a>
              </li>
              <li class="nav-item  mx-3">
                <a class="link nav-link p-3" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <main>
    <div class="texto-galeria">
      <hr>
      <h1>Nuestros Peludos</h1>
      <br>
      <p>Te mostramos todos los miembros de PATAS SUELTAS, cada uno con su personalidad y carácter único. Algunos hace años que vienen compartiendo aventuras con nuestro equipo de PATAS SUELTAS, cada año se van sumando amigos nuevos.</p>
    <hr>
  </div>
    <div class="galeria">
        <div class="caja-galeria">
          <img src="../img/galeria(zoe).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">ZOE</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(laraytito).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">LARA Y TITO</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(kira).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">KIRA</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(oso).jpg"  class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">OSO</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(rocos).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">ROCOS</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(rex).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">REX</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(rufo).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">RUFO</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(dama).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">DAMA</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(tosco).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">TOSCO</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(jaime).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">JAIME</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(felipe).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">FELIPE</p>
          </div>
        </div>
        <div class="caja-galeria">
          <img src="../img/galeria(kala).jpg" class="imagen-geleria" alt="foto perro">
          <div class="nombre-perro">
            <p class="perro">KALA</p>
          </div>
        </div>
    </div>
  </main>
  <footer>
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-body-secondary">Inicio</a></li>
      <li class="nav-item"><a href="galeria.html" class="nav-link px-2 text-body-secondary">Nuestros peludos</a></li>
      <li class="nav-item"><a href="contacto.html" class="nav-link px-2 text-body-secondary">Contacto</a></li>
    </ul>
    <p class=" texto text-center text-body-secondary">© 2024 Patas sueltas</p>
    <div class="logos">
        <a href="https://www.instagram.com/">
            <img src="../img/instagram(1).png" alt="logo de instragram">
        </a>
        <a href="https://www.facebook.com/?locale=es_ES">
            <img src="../img/facebook(1).png" alt="logo de facebook">
        </a>
        <a href="https://twitter.com/?lang=es">
            <img src="../img/twitter.png" alt="logo de twitter">
        </a>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>